
  <div layout="column" flex>
    <md-content layout="column" layout-align = "center center" flex class="md-padding">
      <md-card flex="80">
        <md-card-content>
          <h2 class="md-title">LOGIN</h2>
            <md-input-container>
              <label>Username</label>
              <br>
              <input required></input>
              <br><br>
            </md-input-container>
            <md-input-container>
              <label>Password</label>
              <input required></input>
            </md-input-container>
            <md-button class="md-raised" href="/sign">ENTER</md-button>
        </md-card-content>
      </md-card>
    </md-content>
  </div>
