#sidebar {
  min-height: 900px;
  max-height: auto;
}

#display-pic {
  width: 200px;
}

.profile {
  margin-left: 40px;
}

#detail {
  margin-left: 40px;
}

.prof-image {
    position: relative;
    left: -10px;
}

.blu {
  color: white;
}


/*#menu {
  position: fixed;
}*/

/*#listview {
  margin-left: 100px;
}*/