<div layout= "column" style="height:900px">
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar class="md-hue-1">
        <h1 class="md-toolbar-tools">MENU</h1>
      </md-toolbar>
        <md-button>
          <md-list-item ui-sref = ".create">
          Create Student
          </md-list-item>
        </md-button>
        <md-button>
          <md-list-item ui-sref = ".list">
          list Student
          </md-list-item>
        </md-button>
    </md-sidenav>
    <md-content flex layout-padding>
      <div ui-view></div>
    </md-content>
  </section>
</div>