<div ng-controller="StudentCtrl" layout="column" style="height:45em" data-ng-init="loadView()">

  <section layout="row" flex="" ng-controller="AdminCtrl">

    <md-sidenav class="md-sidenav-left md-whiteframe-z4" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar class="md-hue-1">
        <h1 class="md-toolbar-tools">Menu</h1>
      </md-toolbar>
      <md-content layout-padding="" ng-controller="SidebarCtrl">
        <md-button ng-click="close()" class="md-primary" hide-gt-md="">
          Close Sidenav Left
        </md-button><br>
        <md-button ui-sref=".home">
          <md-icon md-svg-src="assets/images/home-512px.svg"></md-icon><span>  </span>Profile
        </md-button>
        <md-button ng-click="registrationForm()">
          <md-icon md-svg-src="assets/images/add-user.svg"></md-icon><span>  </span>Register New Student
        </md-button>
        <md-button ng-click="loadData('students')">
          <md-icon md-svg-src="assets/images/multy-user.svg"></md-icon><span>  </span>View Students Profile
        </md-button>
      </md-content>
    </md-sidenav>
    <md-content flex="" layout-padding="">
    <div>
      <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md="">
        Toggle Menu Bar
      </md-button>
    </div>
      <div ui-view></div>
    </md-content>
  </section>

</div>