<div layout="column" ng-controller="LoginCtrl">
  <md-content layout layout-align = "center center" class="md-padding">
    <md-card flex="50">
    <md-card class="md-whiteframe-z2" ng-show="loginvalidname">
      <md-card-content style="background:#e9967a">
        <p>Invalid Username, Check Login Details or SignUp</p>
      </md-card-content>
    </md-card>
    <md-card class="md-whiteframe-z2" ng-show="loginvalidpass">
      <md-card-content style="background:#e9967a">
        <p>Wrong Password, Check Login Details or SignUp</p>
      </md-card-content>
    </md-card>
    <md-card class="md-whiteframe-z2" ng-show="nametaken">
      <md-card-content style="background:#e9967a">
        <p>Username already taken</p>
      </md-card-content>
    </md-card>
    <md-progress-linear md-mode="indeterminate" ng-show="signing"></md-progress-linear>
    <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="LOGIN">
      <md-content class="md-padding">
        <md-toolbar>
        <h2 class="md-toolbar-tools">Enter Login Details</h2>
      </md-toolbar><br>
        <form name="loginForm">
          <md-input-container>
            <md-icon md-svg-src="assets/images/man-24-512.svg"></md-icon>
            <input ng-model="loginname" type="text" placeholder="Username" name="name" required />
          </md-input-container>
          <md-input-container>
            <md-icon md-svg-src="assets/images/lock-24-512.svg" class="name"></md-icon>
            <input ng-model="loginpassword" type="password" placeholder="Password" required />
          </md-input-container>
          <md-button class="md-raised" ng-disabled="loginForm.$invalid" ng-click="loginUser()" >LOGIN</md-button>
          </form>
      </md-content>
    </md-tab>
    <md-tab label="SIGN UP">
      <md-content class="md-padding">
        <md-toolbar>
          <h2 class="md-toolbar-tools">Fill in Details</h2>
        </md-toolbar><br>
        <form name="signupForm">
          <md-input-container>
            <md-icon md-svg-src="assets/images/man-24-512.svg"></md-icon>
            <input ng-model="userfirst" type="text" placeholder="Firstname" required />
          </md-input-container>
          <md-input-container>
            <md-icon md-svg-src="assets/images/man-24-512.svg"></md-icon>
            <input ng-model="userlast" type="text" placeholder="Lastname" required />
          </md-input-container>
          <md-input-container>
            <md-icon md-svg-src="assets/images/ic_email_24px.svg"></md-icon>
            <input ng-model="usermail" type="email" placeholder="Email Address" required />
          </md-input-container>
          <md-input-container>
            <md-icon md-svg-src="assets/images/man-24-512.svg"></md-icon>
            <input ng-model="username" type="text" placeholder="Username" required />
          </md-input-container>
          <md-input-container>
            <md-icon md-svg-src="assets/images/lock-24-512.svg"></md-icon>
            <input ng-model="userpassword" type="password" placeholder="Password" required />
          </md-input-container>
          <md-button class="md-raised" ng-disabled="signupForm.$invalid" ng-click="signupUser()">SIGNUP</md-button>
        </form>
      </md-content>
    </md-tab>
  </md-tabs>
  </md-card>
  </md-content>
</div>