<md-dialog arial-label="Edit Student Profile">
  <md-toolbar>
       <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <h2>Edit Student Profile</h2>
       </div>
  </md-toolbar>
  <div layout="column" layout-align="center center" class="dialog-content">
  <md-card>
    <md-card-content>
      <form name="loginForm">
        <md-input-container >
          <label>Firstname</label>
          <input type="text" name="firstname" required ng-model="editfirst">
        </md-input-container>

        <md-input-container >
          <label>Lastname</label>
          <input type="text" name="lastname" required ng-model="editlast">
        </md-input-container>
        
        <md-input-container >
          <label>Email</label>
          <input type="email" name="email" required ng-model="editmail">
        </md-input-container>

        <md-input-container >
          <label>Username</label>
          <input type="text" name="first" required ng-model="editname">
        </md-input-container>

        <md-button class="md-raised" ng-disabled="loginForm.$invalid" ng-click="editStudent()">SAVE</md-button>
    </form>
    </md-card-content>
   </md-card>  
  </div>
</md-dialog>