
  <div layout="column">
    <md-content layout layout-align = "center center" class="md-padding">
      <md-card flex="40">
        <md-card-content>
        <md-toolbar>
          <h2 class="md-toolbar-tools">Enter Login Details</h2>
        </md-toolbar><br>
            <md-input-container>
              <md-icon md-svg-src="assets/images/man-24-512.svg" class="name"></md-icon>
              <input ng-model="user.username" type="text" placeholder="Username">
            </md-input-container>
            <md-input-container>
              <md-icon md-svg-src="assets/images/lock-24-512.svg" class="name"></md-icon>
              <input ng-model="user.password" type="text" placeholder="Password">
            </md-input-container>
            <md-button class="md-raised" href="/#/admin">LOGIN</md-button>
        </md-card-content>
      </md-card>
    </md-content>
  </div>