<md-dialog arial-label="Edit Student Profile" style="width:35em">
  <md-toolbar>
       <div class="md-toolbar-tools" layout="row" layout-align="center">
        <h2>Edit Student Profile</h2>
       </div>
  </md-toolbar>
  <md-progress-linear md-mode="indeterminate" ng-show="editing"></md-progress-linear>
  <div>
    <md-card>
      <md-card-content>
        <form name="editForm">
          <md-input-container>
            <label>Firstname</label>
            <input type="text" maxlength="15" required ng-model="entry.firstname">
          </md-input-container>

          <md-input-container >
            <label>Lastname</label>
            <input type="text" maxlength="15" required ng-model="entry.lastname">
          </md-input-container>
          
          <md-input-container>
            <md-select placeholder="Gender" ng-model="entry.gender" required />
              <md-option value="Male">Male</md-option>
              <md-option value="Female">Female</md-option>
            </md-select>
          </md-input-container>
          
          <md-input-container >
            <label>Phone Number</label>
            <input type="number" maxlength="13" ng-model="entry.phone">
          </md-input-container>

          <md-input-container>
            <label>State Of Origin</label>
            <input ng-model="entry.state" maxlength="15" type="text" required />
          </md-input-container>

          <md-button class="md-raised" ng-disabled="editForm.$invalid" ng-click="edit()">SAVE</md-button>
          <md-button class="md-raised md-warn" ng-click="cancel()">CANCEL</md-button>
        </form>
      </md-card-content>
   </md-card>  
  </div>
</md-dialog>